<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <h5><a class="nav-link" href="/admin/users"><b>All users</b></a></h5>
        </div>
        <div class="navbar-nav ms-auto">
            <h2><b>ADMIN PANEL</b></h2>
          </div>
        <div class="navbar-nav ms-auto">
          <h5><a class="nav-link" href="/logout"><b>Logout</b></a></h5>
        </div>
      </div>
    </div>
</nav>