* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E5EDF1 !important;
}

.nav-link {
    color: #222222 !important;
}

.navbar {
    height: 5rem;
    background-color: #96C2DB;
}

/* card styling  */
.card {
    border: none !important;
    margin-top: 1rem !important;
    background-color: #E5EDF1 !important;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: fill !important;
}

.card-body {
    padding: 2px !important;
    margin-left: 5px;
}

.card-link {
    text-decoration: none;
}

/* card effects */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* show page  */

.show-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.big-img {
    width: 60vh;
    height: 60vh;
    border: 4px solid black;
    border-radius: 16px;
    margin-top: 4rem;
}

.link {
    color: #007bff; 
    text-decoration: none; 
    font-weight: bold; 
}

.link:hover {
    color: #0056b3; 
    text-decoration: underline; 
}

.btns {
    display: flex;
}

.del-btn {
    margin-left: 2rem;
}

/* index page  */
.no-project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-left: 26rem;
    height: 14rem;
    width: 30rem;
    border: 2px solid black;
    border-radius: 2rem;
    background-color: #96C2DB;
}

.no-project {
    text-align: center;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 1rem;
        width: 580px;
    }
}
